@model UpdateAboutDto

@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hakkımızda Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">
                            Bilgileri girerek hakkımızda yazısını güncelleyebilirsiniz.
                        </p>

                        <!-- end card-body-->
                        <form method="post">
                            <input type="hidden" asp-for="AboutID" />
                            <div class="form-group">
                                <label for="Title">Başlık</label>
                                <input type="text" class="form-control" id="Title" asp-for="Title">
                            </div>
                            <div class="form-group">
                                <label for="Description">Açıklama</label>
                                <textarea rows="5" class="form-control" asp-for="Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="ImageUrl">Görsel URL</label>
                                <input type="text" class="form-control" id="ImageUrl" asp-for="ImageUrl">
                            </div>
                            <a href="/Admin/AdminAbout/Index/" class="btn btn-danger">Geri Dön</a>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Hakkımızda Yazısını Güncelle</button>
                        </form>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end page title -->

        </div> <!-- container-fluid -->
    </div>
</div>

