@model CreateCommentDto

<div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Bir Yorum Yapın</h3>
    <form method="post" asp-action="LeaveComment" asp-controller="Blog" class="p-5 bg-light">
        <input type="hidden" asp-for="BlogID" value="@Model.BlogID"/>
        <div class="form-group">
            <label for="Name">İsim Soyisim</label>
            <input type="text" class="form-control" id="Name" asp-for="Name">
        </div>
        <div class="form-group">
            <label for="Mail">Mail Adresi</label>
            <input type="email" class="form-control" id="Mail" asp-for="Mail">
        </div>
        <div class="form-group">
            <label for="Content">Mesajınız</label>
            <textarea id="Content" cols="30" rows="7" class="form-control" asp-for="Content"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Yorum Bırak" class="btn py-3 px-4 btn-primary">
        </div>

    </form>
</div>