<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title text-white mb-3">Araç Sayısı</h5>
                <h2 class="text-white">@ViewBag.CarCount</h2>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title text-white mb-3">Lokasyon Sayısı</h5>
                <h2 class="text-white">@ViewBag.LocationCount</h2>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-danger border-danger shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title text-white mb-3">Araç Marka Sayısı</h5>
                <h2 class="text-white">@ViewBag.BrandCount</h2>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title text-white mb-3">Günlük Ortalama Kiralama Ücreti</h5>
                <h2 class="text-white">@ViewBag.AverageRentPriceForDaily</h2>
            </div>
        </div>
    </div> <!-- end col-->
</div>
