@model UpdateLocationDto
@{
    ViewData["Title"] = "UpdateLocation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Lokasyon Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">
                            Bilgileri girerek lokasyon bilgilerini güncelleyebilirsiniz.
                        </p>

                        <!-- end card-body-->
                        <form method="post">
                            <input type="hidden" asp-for="LocationID" />
                            <div class="form-group">
                                <label for="Name">Kategori Adı</label>
                                <input type="text" class="form-control" id="Name" asp-for="Name">
                            </div>
                            <a href="/Admin/AdminLocation/Index/" class="btn btn-danger">Geri Dön</a>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Lokasyonu Güncelle</button>
                        </form>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end page title -->

        </div> <!-- container-fluid -->
    </div>
</div>

