@model List<ResultSocialMediaDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ana Sayfa Sosyal Medya Hesap Linkleri Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Ana sayfanın sosyal medya alanı ile ilgili işlemleri yapabilirsiniz.
                        </p>

                        <div class="table-responsive">
                            @if (Model.Count > 0)
                            {
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>İsim</th>
                                            <th>Url</th>
                                            <th>İkon</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>
                                            <th>Sayfayı Aç</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <td class="scope">@count</td>
                                                <td>@item.Name</td>
                                                <td>@item.Url</td>
                                                <td>@item.Icon</td>
                                                <td><a href="/Admin/AdminSocialMedia/RemoveSocialMedia/@item.SocialMediaID" class="btn btn-outline-danger">Sil</a></td>
                                                <td><a href="/Admin/AdminSocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-outline-warning">Güncelle</a></td>
                                                <td><a href="/Admin/AdminSocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-outline-secondary">Aç</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="alert alert-secondary" role="alert">
                                    Herhangi bir kayıt bulunmamaktadır.
                                </div>
                            }

                            <a href="/Admin/AdminSocialMedia/CreateSocialMedia/" class="btn btn-outline-primary">Yeni Sosyal Medya Ekle</a>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>

